.jumbotron {
  padding-top: 7rem;
  background-color: #E4DCCF;
}

#about {
  background-color: #F0EBE3;
}

#gallery {
  background-color: #E4DCCF;
}

#contact {
  background-color: #F0EBE3;
}

section {
  padding-top: 6rem;
}